chardet==3.0.4
colorama==0.3.9
idna==2.6
numpy==1.14.1
pandas==0.22.0
pluggy==0.6.0
py==1.5.2
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.8
pytest==3.4.2
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scipy==1.0.0
matplotlib==2.2.3
six==1.11.0
urllib3==1.22
cffi ==1.11.5
asn1crypto==0.24.0
attrs==17.4.0
mne==0.15.2
pytest-dependency==0.3.2
xlrd==1.1.0
win-inet-pton==1.0.1
wincertstore==0.2
cryptography==2.3
-e git+https://bitbucket.org/mednicklab/mednickdb_pyapi.git#egg=mednickdb_pyapi
-e git+https://bitbucket.org/mednicklab/mednickdb_pysleep.git#egg=mednickdb_pysleep

